.menu img{
    height: 20rem;
    margin: 2rem;
    border-radius: 2rem;
}

.menu br+a {
    text-decoration: none;
    color: var(--color-gray-1);
    padding: 1rem;
    border-radius: 2rem;
    transition: background 0.2s;
}
.menu br+a:hover{
    background-color: var(--color-blue-1);
}

.menu a+a{
    margin-top: 3rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-gray-1);
}