<%- contentFor('menuContent') %>
<h1 id="title">Sorry for the incovenient</h1>
<div class="error">
    <p>Failed to retrive data from cloud database</p>
    <br>
    <span>You will be redirected to home page after 3 seconds</span>
</div>
