<%- contentFor('menuContent') %>
<h1 id="title">Sorry for the incovenient</h1>
<div class="error">
    <p>You will be redirected to home page in 5 seconds</p>
</div>

<a class="back" href="/">Home page</a>