<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci Sequence</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/page-fibonacci.css">
</head>

<body>
    <div class="menu">
        <h1 class="page-title">Show the i-<i>th</i> element in a Fibonacci sequence</h1>
        <form class="fibonacci-element" action="getFibonacciElement" method="POST">
            <label for="element-number">Insert a number</label>
            <% if(inputNumber){ %>
                <input id="element-number" class="input-number" type="number" name="inputNumber" value="<%= inputNumber%>" min="1" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Number greater than 0'" placeholder="Number greater than 0">
            <% } else { %>
                <input id="element-number" class="input-number" type="number" name="inputNumber" min="1" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Number greater than 0'" placeholder="Number greater than 0">
            <% } %>
            <button class="run" type="submit">Get element</button>
            <p id="result"><%= result %></p>
        </form>
        <%- include("./partials/back") %>
        <%- include("./partials/madeby") %>
    </div>
</body>

</html>