<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <div class="menu">
        <h1 class="page-title"><%= pageHeader %></h1>
        <%- menuContent %>
        <%- include("./partials/madeby") %>
    </div>
</body>

</html>