<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kevin's First Web Page | Basic Algorithms</title>

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/page-index.css">
    
</head>
<body>
    <div class="menu">
        <img src="/images/menu.jpg" alt="Math Symbols">
        <h1>Choose An Algorithm</h1>]

        <!-- Fazer o map aqui dentro enviando dados como lista que nem no express currículo -->
        <br>
        <a href="/prime">
            Test if a number is prime or not
        </a>
        <br>
        <a href="/fibonacci">
            Show the i-<i>th</i> element in a Fibonacci sequence
        </a>
        <br>
        <a href="/gcd">
            Show the greatest common divisor of two numbers
        </a>
        <br>
        <a href="/count">
            Count numbers within a range
        </a>
        <br>
        <a href="/gcd">
            Sort an array using Quick Sort method
        </a>
        <br>
        <a href="/gcd">
            Calculate the sum of numbers insida an array
        </a>

        <a class="madeby" href="https://www.linkedin.com/in/kevinsantosguedes/" target="_blank">Made by Kevin Guedes</a>
    </div>
</body>
</html>