:root {
    --color-background: #F0F0F7;
    --color-blue-0: #b3ccff;
    --color-blue-1: #80aaff;
    --color-blue-2: #3377ff;
    --color-gray-0: #dbdbdbf8;
    --color-gray-1: #323232;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, 
body{
    height: 120vh;
}

body {
    background-color: var(--color-gray-0);
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu {
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    background-color: var(--color-blue-0);
    color: var(--color-gray-1);
    text-decoration: none;
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

footer {
    margin-top: 4rem;
}
.madeby {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-gray-1);
}

.back {
    color: var(--color-gray-1);
    text-decoration: none;
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 2rem;
    padding: 1rem;
}

.back:hover{
    background-color: var(--color-blue-1);
}

.page-title {
    padding: 1rem;
}

.run {
    background-color: var(--color-blue-0);
    color: var(--color-gray-1);
    text-align: center;
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Times New Roman';
    border-radius: 2rem;
    border: 1px solid var(--color-gray-1);
    cursor: pointer;
    transition: background 0.2s;
}

.run:hover {
    background-color: var(--color-blue-1);
    
}
.run:focus { 
    outline: none; 
}

.input-number {
    border: 1px solid var(--color-gray-1);
    font-size: 2rem;
    font-family: 'Times New Roman';
    width: 25rem;
    text-align: center;
    background-color: var(--color-gray-0);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

.input-array {
    border: 1px solid var(--color-gray-1);
    font-size: 2rem;
    font-family: 'Times New Roman';
    width: 40rem;
    text-align: center;
    background-color: var(--color-gray-0);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

.input-number:focus,
.input-array:focus {
    outline: none; 
}