.count {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 24rem;
    width: 90%;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--color-gray-1);
    color: var(--color-gray-1);
}
p#result {
    padding-top: 20px;
}

@media screen and (max-width: 800px) {
    .count {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 600px) {
    .count {
        font-size: 2rem;
    }
}