.count {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 24rem;
    width: 90%;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--color-gray-1);
    color: var(--color-gray-1);
}
p#result {
    padding-top: 20px;
}