.menu-items {
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    background-color: var(--color-blue-0);
    color: var(--color-gray-1);
    text-decoration: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

img {
    height: 28rem;
    margin: 2rem 3rem 3rem;
    border-radius: 2rem;
    width: 90%;
    height: auto;
}

.item {
    text-decoration: none;
    color: var(--color-gray-1);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 3rem;
    transition: background 0.2s;
}

.item:hover{
    background-color: var(--color-blue-1);
}

li {
    text-align: center;
}

ol {    
    list-style-position: inside;
}

#database {
    margin-top: 4rem;
}

@media screen and (max-width: 800px){
    .item {
        font-size: 2.5rem;
    }
    h1 {
        font-size: 1.6em;
    }
    #database {
        font-size: 1.6em;
    }
}
@media screen and (max-width: 600px) {
    img {
        max-width: 100%;
    }
    h1 {
        font-size: 1em;
    }
    #database {
        font-size: 1em;
    }
    li {
        font-size: 1.6rem;
    }
    .item {
        font-size: 2rem;
    }
    .menu-items {
        padding: 1rem 1.5rem;
}
