<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <div class="menu">
        
        <%- menuContent %>

        <%- include("./partials/madeby") %>
    </div>
</body>

</html>

