<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
    <% if(redirectEnabled){ %>
        <meta http-equiv = "refresh" content = " 3 ; url = /"/>
    <% } %>
</head>

<body>
    <div class="menu">
        
        <%- menuContent %>

        <%- include("./partials/madeby") %>
    </div>
</body>

</html>

