<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
    <% if(redirectEnabled){ %>
        <script src="/scripts/redirectPage.js" defer></script>
    <% } %>
</head>

<body>
    <div class="menu">
        
        <%- menuContent %>

        <%- include("./partials/madeby") %>
    </div>
</body>

</html>

